extends ui_layout_no
  
block content

  
  -var cdn = "https://eatsnaplove.nyc3.cdn.digitaloceanspaces.com";
  -//var cdn = "";
  .computer.only.tablet.only.four.wide.column 
    

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
  
    each val in script
      
      
      .ui.fluid.card.dim()
        //- dimmer DIV for flagging
        .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    |  You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span="The admins will review this post further. We are sorry you had this experience."
        //- Normal Base Post
        .content
          .right.floated.time.meta= (1547752372994 + val.time)
          |  
          a(href='#')
            if val.actor[namefilter] == "yes"
              img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture)
            else
              img.ui.avatar.image(src=val.actor.profile.fakepic)
            span=val.actor.profile.name
        //-div(style="position: relative; z-index: 1;")
          img(src="image.png" style="position: absolute; z-index: 2;")
          span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
        .image
          img.post(src=cdn+"/post_pictures/"+val.picture)
        .content
          .description=val.body
        .three.ui.bottom.attached.icon.buttons
          .ui.flag.button(tabindex='0')
            i.flag.icon
          if val.like
            .ui.labeled.button(tabindex='0')
              .ui.red.like.button
                i.heart.icon
          else
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon

    .ui.fluid.card
      .content
        .description
        |  End of Posts
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
